{% extends 'es/layout.html' %}
{% load static %}
{% block content %}

<div class="desktop">
    <div class="subpages-title">
    	<h1 class="title-center light tshadow title-size-2">CONTACTO </h1>
    </div>
<div class="center2">
    <br><br>
    <div class="alert alert-success" role="alert">
        <h3>Tu mensaje se ha enviado correctamente!</h3>
      </div>
      <br>
    <a href="../../" class="wfit"><h5>Volver a inicio</h5></a>
</div>
<br>
</div>
<div class="mobile">
    <div class="center2">
    	<br><br>
    	<div class="alert alert-success" role="alert">
             <h3>Tu mensaje se ha enviado correctamente!</h3>
      	</div>
      	<br>
    	<a href="../../" class="wfit"><h5>Volver a inicio</h5></a>
    </div>
</div>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    
{% endblock %}